.mainpage {
    display: flex;
    flex-direction: row;
}

.image {
    margin-left: 34vw;
    size: 50%;
}

.body_page {
    margin-top: 25vh;
}

.first {
    margin-left: 30vw;
}

.first-heading {
    font-size: var(--font-size-heading);
    font-weight: var(--font-weight-semibold);
    font-family: 'Lato', sans-serif;
}

.first_sub {
    font-size: var(--font-size-semibold);
    font-weight: var(--font-weight-medium);
    margin-top: 1vh;
    margin-left: 2vw;
}

.second-heading,
.third-heading {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-medium);
}

.second,
.third {
    margin-top: 7vh;
    margin-right: 10vw;
    margin-left: 20vw;
}

.second-body,
.third-body {
    font-size: 0.70rem;
    font-weight: var(--font-weight-medium);
}

.button-edit {
    margin-left: 65vw;
    margin-top: 7vh
}