.react-calendar__viewContainer{
    color: white;
    text-align: center;
}
.react-calendar__tile{
    padding: 2.5vh 0vw;
    background: linear-gradient(180deg, #282828 0%, #303030 100%);
    color: var(--greyOne);
    border: var(--greyThree) solid 1px;
}
.react-calendar__month-view__days{
    margin-top: 4vh;
}
.react-calendar__tile:hover{
    padding: 2.5vh 0vw;
    background: var(--purpleGradient);
    cursor: pointer;
    color: var(--greyOne);
    border: #A259FF solid 1px;
}
.react-calendar__month-view__days__day--neighboringMonth{
    visibility: hidden;
}
.react-calendar__month-view__weekdays__weekday{
    text-transform: uppercase;
    color: var(--greyTwo);
}
.react-calendar__navigation__arrow{
    display: none !important;
}
.react-calendar__navigation__label{
    background: none;
    color: var(--greyOne);
    text-transform: uppercase;
    border: none;
    margin-bottom: 4vh;
    font-size: var(--font-size-medium);
}
.calendar-in{
    background: var(--greyGradient);
    padding: 5vh 5vw;
    border-radius: var(--border-radius-card);
    margin-left: 13%;
    margin-top: 13%;
}