/* .half-grey {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: var(--greyGradient);
    backdrop-filter: var(--backdrop-filter);
    border-radius: var(--border-radius-card);
    color: var(--greyOne);
}

.left-side {
    text-align: center;
    margin-left: 15vw;
    margin-top: 13vh;
}

.main {
    display: flex;
    flex-direction: row;
}

.half-grey input[type=text],
.half-grey input[type=password] {
    width: 70%;
    box-sizing: content-box;
    border: none;
    border-bottom: 2px solid;
    background: none;
    color: var(--greyOne);
    padding: 1vh 2vw 1vh 0vw;
    margin-bottom: 3vh;
}

input {
    outline: none;
}
.main h1{
    text-align: center;
    font-weight: var(--font-weight-heading);
    font-size: var(--font-size-heading);
    word-spacing: 0.5vw;
    letter-spacing: 0.04vw;
    margin-top: 5vh;
    color: var(--greyOne);
    margin-top: 25vh;
}
.left-side Button{
    margin-top: 3vh;
}
.right-side{
    text-align: center;
}
.form-part{
    text-align: left;
    margin-left: 18%;
    margin-top: 10vh;
}
.half-grey h1{
    margin-top: 20vh;
    text-align: left;
    margin-left: 18%;
}
.half-grey p{
    margin-bottom: 1vh;
}
input[type=submit]{
    background: none;
    border: none;
    color: var(--greyOne);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-medium);
}
.form-part Button{
    margin-top: 5vh;
    margin-left: 30%;
} */


.login{
    display: flex;
}
.rightSide{
    background: var(--greyGradient);
    width: 50%;
    height: 100vh;
    backdrop-filter: var(--backdrop-filter);
    border-radius: var(--border-radius-card);
}
.form-part{
    margin-left: 15%;
    margin-top: 15vh;
}
p{
    color: var(--greyOne);
    margin-bottom: 1vh;
}
.form-part input[type=text],.form-part input[type=password]{
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    padding: 1vh 2vw 1vh 0vw;
    outline: none;
    color: var(--greyOne);
    margin-bottom: 5vh;
}
.form{
    width: 75%;
    margin-top: 12vh;
}
.form Button{
    margin-left: 40%;
    margin-top: 8vh;
}
.form .forgot button{
    margin-top: 2vh;
    margin-left: 35%;
    color: var(--greyTwo);
}
.leftSide{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.leftSide Button{
    margin-top: 3vh;
}