@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
body{
  margin: 0;
  background-color: black;
  font-family: 'Lato', sans-serif;
}
:root {
  --greyOne: #f3f3f3;
  --greyTwo: #7C7C7C;
  --greyThree: #434343;
  --purple: #A259FF;
  --green: #0ACF83;
  --orange: #F24E1E;
  --blue: #1ABCFE;
  --purpleGradient: linear-gradient(180deg, #A259FF 0%, rgba(162, 89, 255, 0.6) 100%);
  --greyGradient: linear-gradient(180deg, #212121 0%, rgba(33, 33, 33, 0.4) 100%);

  --backdrop-filter: blur(10px);
  --border-radius-button: 4px;
  --border-radius-card: 10px;

  --font-size-heading: 2.25rem;
  --font-size-semibold: 1.125rem;
  --font-size-medium: .9375rem;
  --font-size-text: .75rem;

  --font-weight-heading: 900;
  --font-weight-semibold: 700;
  --font-weight-medium: 400;
  --font-weight-text: 300;
}