@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
body{
  margin: 0;
  background-color: black;
  font-family: 'Lato', sans-serif;
}
:root {
  --greyOne: #f3f3f3;
  --greyTwo: #7C7C7C;
  --greyThree: #434343;
  --purple: #A259FF;
  --green: #0ACF83;
  --orange: #F24E1E;
  --blue: #1ABCFE;
}