.vertical{
    background: var(--greyGradient);
    width: 20%;
    height: 100vh;
    backdrop-filter: var(--backdrop-filter);
    border-radius: var(--border-radius-card);
    color: var(--greyOne);
    text-align: center;
}
*{
    text-decoration: none;
}
li{
    list-style: none;
    text-decoration: none;
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-semibold);
    margin-top: 2vh;
}
.navbar-vertical span{
    color: var(--greyThree);
    margin-left: 1vw;
}
svg{
    color: var(--greyThree);
}
.vertical-club-detail h1{
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-semibold);
}
.vertical-club-detail p{
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-medium);
    color: var(--greyTwo);
}
.vertical-club-detail img{
    width: 3vw;
    margin-top: 13vh;
    margin-bottom: 2vh;
}
.navbar-vertical{
    text-align: left;
    margin-left: 30%;
    margin-top: 10vh;
}
.navbar-vertical span:hover, .navbar-vertical span:active, .navbar-vertical svg:hover, .navbar-vertical svg:active{
    color: var(--greyOne);
}