.register{
    display: flex;
}
.left-side{
    background: var(--greyGradient);
    width: 50%;
    height: 100vh;
    backdrop-filter: var(--backdrop-filter);
    border-radius: var(--border-radius-card);
}
.form-part{
    margin-left: 15%;
    margin-top: 15vh;
    margin-bottom: 10vh;
}
p{
    color: var(--greyOne);
    margin-bottom: 1vh;
}
.form-part input[type=text],.form-part input[type=password]{
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    padding: 1vh 2vw 1vh 0vw;
    outline: none;
    color: var(--greyOne);
    margin-bottom: 5vh;
}
form{
    width: 75%;
    margin-top: 8vh;
}
form Button{
    margin-left: 40%;
    margin-top: 4vh;
}
.right-side{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.right-side Button{
    margin-top: 3vh;
}
.left-side .form-part input[type=submit]{
    background: var(--purpleGradient);
    border: none;
    color: var(--greyOne);
    padding: 2vh 2vw;
    border-radius: var(--border-radius-button);
    cursor: pointer;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-medium);
    margin-top: 5vh;
}
.left-side{
    overflow-y: scroll;
    overflow-x: hidden;
}
.left-side::-webkit-scrollbar {
    width: 0.1vw;
    height: 1vh;
  }
  
  .left-side::-webkit-scrollbar-track {
    box-shadow: none;
    width: 0.1vw;
    height: 1vh;
  }
  
  .left-side::-webkit-scrollbar-thumb {
    background-color: var(--brown);
    outline: 1px solid var(--brown);
    width: 0.1vw;
    height: 1vh;
  }